.card-container{
margin: 0 auto;
    width:25vw;
    height: 100%;
    .img-container{
        width: 100%;
        border-radius: 8px;
        padding-bottom: 32px;
        img{
            width: 100%;
            height: 120%;
            border-radius: 8px;
        }
    }
}

.project-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:992px){
    .img-container{
        width: 80%;
    }
}